<html>

<head>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>Brand</td>
                <!-- <td>Category</td> -->
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            {% for product in car_seats %}
                {% if product.data.status == "active" %}
            <tr>
                <td>{{ product.data.brand }}</td>
                <!-- <td>{{ product.data.category }}</td> -->
                <td><a href="{{product.data.prod_url}}" target="_blank">{{ product.data.name | strip }}</a></td>
                <td>{{ product.data.price | remove: "$" | prepend: "$" }}</td>
            </tr>

                {% endif %}
            {% endfor %}

        </tbody>
    </table>
    <div>Updated {{ "now" | date: "%m/%d/%Y"}}</div>
</body>

</html>